{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="UTF-8"
        <meta http-equiv="X-UA-Coompatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Oleg's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
            </nav>
          </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                  {% if form.errors %}
                      <p><div class="alert alert-danger" role="alert">Неправильное имя пользователя или пароль</div></p>
                  {% endif %}
                  <form method="post" class="form-horizontal" action="{% url 'login' %}">
                  {% csrf_token %}
                       <div class="form-group">
                          <label class="col-sm-6 control-label" for="id_username">Имя пользователя</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="User">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-6 control-label" for="id_password">Пароль</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Пароль">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-6 col-sm-12">
                            <button type="submit" class="btn btn-primary">Вход</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                          </div>
                        </div>
                      </form>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
<!--
        <footer class="blog-footer">
           <p>Олег Талыпов &copy 2017</p>
        </footer>
-->
    </body>
</html>
